build/*
data/*
venv/*
dist/*
src/machine_learning_finance/__pycache__/
src/machine_learning_finance.egg-info/*
notebooks/.ipynb_checkpoints/*
.idea/*
*.log
junk/*
.DS_Store
keys/*
backtests/*
videos/*
tests/__pycache__/
