build/*
venv/*
dist/*
src/alfred/__pycache__/
src/alfred.egg-info/*
notebooks/.ipynb_checkpoints/*
.idea/*
*.log
junk/*
.DS_Store
keys/*
backtests/*
*videos*
*__pycache__*
tensorboard-logs
tensorboard-logs*/*
train_CHEF/*
models/*
*.egg-info/*
*__pycache__*
sacred_runs/*
news/*
db/*