setuptools==65.5.0
yfinance
gymnasium
mypy
pandas
numpy
torch
typing
requests
scikit_learn
scipy
statsmodels
plotly
pytz
python-dateutil
joblib
pandas-ta
QuantLib-Python
fredapi
matplotlib
dcor
seaborn
kaleido
cryptography
imageio
pathlib
pyfiglet
moviepy
pygame
swig
gym
pytest
bocd
financetoolkit
sacred